$cgray: #856d47;
$cwhite: #fff7ea;

$fsh2: 55px;
$fsh3: 31px;
$fsp: 18px;

// variables for media queries:
$mfsh2: 26px;
$mfsh3: 20px;
$mfsp: 14px;

.bonus {
    h2 {
        margin: 0 auto 2rem;

        font-size: $fsh2;
        text-align: center;
    }

    &__adv {
        margin: 0 auto 2rem;

        font-size: $fsh3;
        text-align: center;
    }

    &__p {
        margin-bottom: 6rem;

        font-size: 24px;

        text-align: center;
    }

    &__flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &-item {
            display: flex;

            margin-bottom: 2rem;

            width: 33.33%;

            &-shape {
                display: flex;
                flex-shrink: 0;

                align-items: center;
                justify-content: center;

                margin-right: 1rem;

                width: 60px;
                height: 60px;

                background-color: $cgray;

                border-radius: 50%;
            }

            &-number {
                margin: 0 auto;

                font-size: 24px;
                color: #fff;
            }

            h3 {
                margin-bottom: 1rem;

                font-size: 24px;
                color: $cgray;
            }

            p {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 1150px) {
    .bonus__flex-item {
        width: 50%;
    }
}
@media (max-width: 768px) {
    .bonus {
        &__p {
            font-size: $mfsp;
        }
        h2 {
            font-size: $mfsh2;
        }

        &__flex-item {
            width: 100%;

            &-shape {
                width: 40px;
                height: 40px;
            }

            &-number {
                font-size: $mfsh3;
            }

            h3 {
                font-size: $mfsh3;
            }

            p {
                font-size: $mfsp;
            }
        }
    }

    .flex-price {
        flex-direction: column;
    }
}
